{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
   {% include 'accounts/head.html' %}
  </head>

  <body>
    <!-- Spinner Start -->
    {% include 'accounts/spinner.html' %}
    <!-- Spinner End -->

    <!-- Navbar start -->
    {% include 'accounts/Navbar.html' %}
    <!-- Navbar End -->

    <!-- Modal Search Start -->
    {% include 'accounts/SearchModal.html' %}
    <!-- Modal Search End -->

    <!-- Hero Start -->
    {% include 'accounts/Hero.html' %}
    <!-- Hero End -->

    <!-- Featurs Section Start -->
    {% include 'accounts/Featurs.html' %}
    <!-- Featurs Section End -->

    <!-- Fruits Shop Start-->
    {% include 'accounts/FruitShop.html' %}
    <!-- Fruits Shop End-->

    <!-- advertisement Start -->
    {% include 'accounts/Advertisement.html' %}
    <!-- advertisement End -->

    <!-- Vesitable Shop Start-->
    {% include 'accounts/VegetableShop.html' %}
    <!-- Vesitable Shop End -->

    <!-- Banner Section Start-->
    {% include 'accounts/Banner.html' %}
    <!-- Banner Section End -->

    <!-- Bestsaler Product Start -->
    {% include 'accounts/BestSeller.html' %}
    <!-- Bestsaler Product End -->

    <!-- Fact Start -->
    {% include 'accounts/Fact.html' %}
    <!-- Fact Start -->

    {% block content %}
    
    {% endblock %}

    <!-- Tastimonial Start -->
    {% include 'accounts/Tastimonial.html' %}
    <!-- Tastimonial End -->

    <!-- Footer Start -->
    {% include 'accounts/Footer.html' %}
    <!-- Footer End -->

    <!-- Copyright Start -->
    {% include 'accounts/Copyright.html' %}
    <!-- Copyright End -->

    <!-- Back to Top -->
    {% include 'accounts/BacktoTop.html' %}

    <!-- JavaScript Libraries -->
   {% include 'accounts/TemplateJavascript.html' %}

  </body>
</html>
